PORT=4000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/estore-perfume
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Gemini API Key
GEMINI_API_KEY=your_gemini_api_key_here

# SMTP config for Nodemailer (e.g. Mailtrap or Gmail)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM=L'Arôme Parfums <noreply@larome.com>
